<!DOCTYPE html>
<html>
<head>
<title>Animal Health Status</title>
<style>
body
{
    background-image: url("https://www.shutterstock.com/image-photo/woman-wearing-blue-surgical-mask-260nw-1710609172.jpg");
    background-size: cover;
}
.pd{
padding-bottom:45%;}

</style>
</head>
<body>

<br>
<center><b class="pd"><font color="black" size="15" font-family="Comic Sans MS" >Health Status</font></b></center><br><br>
<div>
<br>
<center>
<h2><font color="black"> {{result}} </h2>  
</center>
</div>
</body>
</html>
